.menu{
    display:flex;
    width:max(80vw,500px);
    overflow-x: auto;
    justify-content:center;
    margin:auto;
    margin-top:1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.items{
    margin-bottom: 10px;
    flex: 0 0 135px;
    width:135px;
    height:50px;
    background-color: unset;
    border:1px solid black;
    color:black;
    margin-right: 20px;
}
.items:hover{
    background-color: unset;
    color:black;
}
.items:focus{
    background-color: unset !important;
    color:black !important;
}