.picture{
    width:max(80vw,500px);
    height:500px;
    margin:auto;
    margin-bottom:1rem;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.text-container{
    padding:20px;
    position:relative;
    top:330px;
    left:15px;
    background-color: rgba(255, 255, 255, 0.74);
    border:5px solid black;
    width:max(400px,25%);
    border-radius: 20px;
    display:flex;
}
.left-text{
    width:50%;
    font-weight: bold;
}
.right-btn{
    text-align: center;
    width: 50%;
}