nav{
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
.navbar{
    height: 100%;
}
.logo{
    height:75px;
}
.name{
    font-weight: bolder;
    font-size: 30px;
}
.nav-link{
    text-align: center;
}
.btn{
    width:100px;
}
.register:hover{
    background-color:unset;
    color: blue;
}
.offcanvas{
    --bs-offcanvas-width: 200px !important;
}